{% comment %} {% extends 'users/base_generic.html' %} {% block content %}
<h2>Update Your Daily Activity</h2>

<p>Today's Date: {{ form.instance.date }}</p>

<form method="post">
  {% csrf_token %}
  <div>
    <label for="task">Task:</label>
    {{ form.task }}
  </div>

  <div>
    <label for="news_count">Number of News Published on Website:</label>
    {{ form.news_count }}
  </div>

  <div>
    <label for="insta_followers"
      >Number of News Published on Social Media:</label
    >
    {{ form.insta_followers }}
  </div>

  <div>
    <label for="news_count">Number of Subscription Done For Newsletter:</label>
    {{ form.news_count }}
  </div>

  <div>
    <label for="news_count">Number of Pages Designed For Magazine:</label>
    {{ form.news_count }}
  </div>

  <div>
    <label for="news_count">Number of Slides Prepared For Business Team:</label>
    {{ form.news_count }}
  </div>

  <div>
    <label for="news_count">Newsletter Prepared For Customer Via Email:</label>
    {{ form.news_count }}
  </div>

  <div>
    <label for="news_count">Number of Connections Aquried On LinkedIn:</label>
    {{ form.news_count }}
  </div>

  <div>
    <label for="news_count">Number of Connections Aquried On Twitter:</label>
    {{ form.news_count }}
  </div>

  <div>
    <label for="news_count">Number of Connections Aquried On Instagram:</label>
    {{ form.news_count }}
  </div>

  <div>
    <label for="news_count">Number of Connections Aquried On Facebook:</label>
    {{ form.news_count }}
  </div>

  <div>
    <label for="news_count"
      >Number of Professionals Prepared For The Issue:</label
    >
    {{ form.news_count }}
  </div>

  <div>
    <label for="news_count">Number of Experts prepared for the issue:</label>
    {{ form.news_count }}
  </div>

  <div>
    <label for="news_count"
      >Number of Interview questionnaire prepared & sent:</label
    >
    {{ form.news_count }}
  </div>

  <div>
    <label for="news_count">Number of new addresses collected:</label>
    {{ form.news_count }}
  </div>

  <div>
    <label for="news_count">Number of new advertiseres found & shared:</label>
    {{ form.news_count }}
  </div>

  <div>
    <label for="news_count">Number of Cross-word puzzles prepared:</label>
    {{ form.news_count }}
  </div>

  <div>
    <label for="news_count">New Plugins designed:</label>
    {{ form.news_count }}
  </div>

  <div>
    <label for="news_count">Number of News Published:</label>
    {{ form.news_count }}
  </div>

  <div>
    <label for="news_count">Other tasks worked-out:</label>
    {{ form.news_count }}
  </div>
  <button type="submit">Update Report</button>
</form>

{% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endblock %} {% endcomment %} {% comment %} {% extends
'users/base_generic.html' %} {% block content %}
<h2>Daily Activity for IT Department</h2>
<form method="post">
  {% csrf_token %}
  <div>
    <label for="task">Task:</label>
    {{ form.task }}
  </div>
  <div>
    <label for="news_count">Number of News Published:</label>
    {{ form.news_count }}
  </div>
  <div>
    <label for="insta_followers">Number of New Followers on Instagram:</label>
    {{ form.insta_followers }}
  </div>
  <div>
    <label for="newsletter_subscriptions"
      >Number of Newsletter Subscriptions:</label
    >
    {{ form.newsletter_subscriptions }}
  </div>
  <div>
    <label for="pages_designed">Number of Pages Designed:</label>
    {{ form.pages_designed }}
  </div>
  <button type="submit">Submit</button>
</form>

<h3>Daily Reports</h3>
<table>
  <tr>
    <th>Date</th>
    <th>Task</th>
    <th>News Count</th>
    <th>Followers</th>
    <th>Newsletter Subscriptions</th>
    <th>Pages Designed</th>
  </tr>
  {% for report in daily_reports %}
  <tr>
    <td>{{ report.date }}</td>
    <td>{{ report.task }}</td>
    <td>{{ report.news_count }}</td>
    <td>{{ report.insta_followers }}</td>
    <td>{{ report.newsletter_subscriptions }}</td>
    <td>{{ report.pages_designed }}</td>
  </tr>
  {% endfor %}
</table>
<a href="{% url 'users:export_excel_department' 'it' %}">Export as Excel</a>
{% endblock %} {% endcomment %} ------------------------------------------------
{% comment %} {% extends 'users/base_generic.html' %} {%load static%} {% block
content%}

<h2>Daily Activity for IT Department</h2>
<form method="post">
  {% csrf_token %}
  <div>
    <label for="task">Task:</label>
    {{ form.task }}
  </div>
  <div>
    <label for="description">Description:</label>
    {{ form.description }}
  </div>
  <button type="submit">Submit</button>
</form>

<h3>Previous Reports</h3>
<ul>
  {% for report in daily_reports %}
  <li>{{ report.task }} - {{ report.description }}</li>
  {% endfor %}
</ul>
{% endblock %} {% endcomment %}
